<table>
  <tr>
    <th>Code LDAP</th>
    <th>Description</th>
 
  </tr>
  <% 	@Cursus = Cursus.all %>
	<%	@Cursus.each do |cursus| %>
  	
<tr>
    <td><%= cursus.ldap_desc %></td>
    <td><%= cursus.desc %></td>
   
  </tr>
<% end %>
</table>
