#nav{
width: 305px;
height:100px;
}
a#nav{ 
	display: block;
	background: white url(../images/aua_BW.png) left top no-repeat;
	}
a#nav:hover, a#nav:focus, a#nav:active{
	background: black url(../images/aua_BW.png) right top no-repeat;
	}	

#out, #in{
opacity:0;
transition:opacity 2s linear;
}

#out:hover, #in:hover{
opacity:1;
}

