<h2>_list</h2>

<table>
  <tr>
    <th>Code LDAP</th>
    <th>Description</th>
  </tr>

<% @formations.each do |formation| %>
  <tr>
    <td><%=h formation.ldap_desc %></td>
    <td><%=h formation.desc %></td>

  </tr>
<% end %>
</table>
