<h1>Listing formation</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
  </tr>

<% @formations.each do |formation| %>
  <tr>
    <td><%=h formation.ldap_desc %></td>
    <td><%=h formation.desc %></td>w

  </tr>
<% end %>
</table>
